

<div class="text-center ">
    <h3 class="m-5" style="color: green;">Market Analysis</h3>

    <div class="row justify-content-center">
        <div class="card p-5" style="width: 30%;">
            <form>

                <div class="form-group ">
                    <label for="inputText" >Commodity</label>
                    <input type="text" class="form-control" id="inputText" (keypress)="getCommodityValue($event)">
                </div>
                <div class="form-group">
                    <label class="form-check-label" for="">Date</label>
                    <input type="date"  class="form-control" id="">
                    <span class="text-muted">The Product forcasting date.</span>
                </div>
                <button class="btn btn-success" routerLink="../prediction">Submit</button>
            </form>

        </div>

    </div>



</div>


<app-footer></app-footer>