

<div class="text-center ">
    <h3 class="m-5" style="color: green;">Market Analysis</h3>

    <div class="row justify-content-center">
        <div class="card p-5" style="width: 30%;">
            <form>

                <div class="form-group"  [formGroup]="predictionForm" >
                    <label for="inputText" >Commodity</label>
                    <input type="text" class="form-control" id="inputText" formControlName="commodity">

                    <span class="help-block description"
                    *ngIf="!predictionForm.get('commodity')?.valid && predictionForm.get('commodity')?.touched">
                      <small>Please enter valid commodity.</small>
                </span>
                <span class="help-block description" 
                *ngIf="predictionForm.get('commodity')?.hasError('whitespace')">
                <small>Commodity cannot contain whitespace!</small>
                </span>
        
                </div>

                
                <button [disabled]="!predictionForm.valid" class="btn btn-success" (click)="submitPredictionMessage()" type="button">Submit</button>
            </form>

        </div>

    </div>



</div>


<app-footer></app-footer>